<?xml version="1.0" encoding="UTF-8"?>

<phpunit
	bootstrap="./bootstrap.php"
	colors="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	stopOnError="false"
	stopOnFailure="false"
	stopOnIncomplete="false"
	stopOnSkipped="false">
	<testsuites>
		<testsuite name="TNH Framework Core Test Suite">
			<directory suffix="Test.php">./tnhfw/classes</directory>
			<directory suffix="Test.php">./tnhfw/functions</directory>
			<directory suffix="Test.php">./tnhfw/libraries</directory>
			<file suffix="Test.php">./tnhfw/CommonTest.php</file>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory suffix=".php">../core/classes</directory>
			<directory suffix=".php">../core/functions</directory>
			<directory suffix=".php">../core/libraries</directory>
		</whitelist>
	</filter>
</phpunit>